@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html,
body {
  height: fit;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Nav-bar {
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  padding-bottom: 20px;
  background-color: #283c63;
}

.Nav-bar a {
  align-content: center;
  color: #ffff;
  font-weight: 500;
  text-decoration: none;
}

.Nav-bar a:hover {
  color: #ffff;

  text-decoration: underline;
}

.Nav-bar a:visited {
  text-decoration: none;
}

.Nav-bar a:active {
  text-decoration: none;
}

.Nav-bar-wrapper {
  height: 100px;
  padding-left: 50px;
  padding-right: 50px;

  background-color: #283c63;
}

/* .Logout-Button {
  margin-top: ;
} */

/* Content for landing page */
.Page-body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
.Content-container {
  min-height: 100%;
  position: relative;
}

.Content-body {
  padding: 10px;
  /* to buffer footer height */
  padding-bottom: 280px;
}

/* Footer elements */

.Footer-container {
  position: absolute;
  max-height: fit-content;
  padding-top: 40px;
  width: 100%;
  bottom: 0;
  color: #ffff;
  background-color: #283c63;
}
.Footer-container a {
  align-content: center;
  color: #ffff;
  text-decoration: none;
}

.Footer-container a:hover {
  text-decoration: underline;
}

/* Client Dashboard */

.Form-body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Mood-Display {
  align-items: center;
  flex-direction: row;
  display: flex;
}

/* To find the correct name for component styling */
.mantine-pbfq37 {
  /* padding-left: 130px; */

  justify-content: center;
}

/* Side Bar information */

.Side-bar {
  background-color: #283c63;

  align-content: center;
  padding-top: 40px;
  height: 100%;
  width: 400px;
  padding-left: 50px;
  padding-right: 50px;
}

.Sidebar-logout-btn {
  margin-top: 270px;
  /* this is to control the bottom of the side bar */
  margin-bottom: 35px;
}

.Sidebar-a {
  padding-top: 40px;
}

.Side-bar a {
  align-content: center;
  color: #ffff;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}

.SideBar-profile-pic img {
  height: 300px;
}

/* Dashboard Styling */

.Quote-Header {
  height: 280px;
}

/* FAQ header */

.mantine-1dcoo6i {
  flex-direction: column;

  padding-top: 70px;
}

.Personal-Particulars {
  background-color: #cce4f7;
}

.Personal-Particulars-div a {
  color: #1b1b9589;
}

.Personal-Particulars-div a {
  color: #1b1b9589;
}

.mantine-11qo0g4 {
}

button {
  background-color: #66b9b9;
  align-content: center;
  height: 40px;
  margin: 10px;
  padding: 10px;
  width: max-content;
  border-style: none;
  color: #ffff;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  justify-content: center;
}

/* button:hover,
button:focus {
  background-color: #008b8b;
} */

.mantine-6y1794 {
  align-content: center;
  justify-content: center;
  flex-wrap: center;
}

.mantine-15pjuqq {
  margin-bottom: 45px;
}

.react-calendar button {
  color: #51555e;
}

.react-datetime-picker__wrapper {
  display: flex;
  flex-grow: 1;
  background: #e9ecf4;
  flex-shrink: 0;
  border-radius: 5px;
  font-family: 'Roboto';
  font-weight: 400;
  border: none;
}

.react-calendar {
  width: 350px;
  max-width: 100%;
  border-radius: 15px;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

/* Journal Single */
.mantine-17yq1a2 {
  margin-top: 30px;
}

/* Landing Page Text  */

.mantine-1kx75lf {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  color: inherit;
  font-size: 16px;
  line-height: 1.55;
  text-decoration: none;
  margin-top: 200px;
  font-weight: 600;
  text-align: justify;
}

.Landing-Text {
  margin-top: 200px;

  text-align: justify;
}

.Landing-Header {
  font-weight: 600;
  color: #1baed6;
  /* align-content: right; */
  text-align: right;
}

.Support-page {
  margin-top: 120px;
}

/* .Personal-photo-form {

} */

/* .mantine-Col-root.Dashboard-sidebar {
  margin-bottom: 40px;
} */

/* Calendar Card */
/* .mantine-1xc2888 {
  background-color: ;
} */

/* CSS */
/* .button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
} */
