.align {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #176486;
}

.app {
  /* background-color: #617ad3; */
  /* width: 450px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly; */
}

.h2 {
  padding: 50px;

  margin-left: 20px;
}

.question-section {
  width: 100%;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
}

.answer-section {
  /* width: 100%; */
  display: flex;
  padding: 10px;
  margin: 50px;
  flex-direction: row;
  justify-content: center;
}

.buttonForm {
  /* width: 100%;
  font-size: 16px;
  color: #000000;
  background-color: #67a0e1;
  border-radius: 15px; */
  display: flex;

  padding: 10px 20px;
  margin: 10px;
  justify-content: center;
  align-items: center;
  /* border: 5px solid #234668; */
  cursor: pointer;
}
.buttonForm:hover {
  background-color: #0b7e7e;
}

.buttonForm:focus {
  outline: none;
}

.buttonForm svg {
  margin-right: 5px;
}

/* .mantine-1t82uby {
  width: 800px;
} */
